<footer class="footer bg-dark py-3 mt-auto">
  <div class="container d-flex justify-content-between">
    <span class="text-muted">&#169; YelpCamp 2021</span>
    <span class="text-muted">Credits - Colt Steele</span>
  </div>
</footer>
