<% layout("layouts/boilerplate") -%>
<figure>
  <blockquote class="blockquote">
    <p class="offset-2 display-2">YelpCamp</p>
  </blockquote>
  <figcaption class="blockquote-footer text-center">
    A project made using
    <cite title="Source Title " class="display-6"
      >Bootstrap5,ExpressJS,MongoDB</cite
    >
  </figcaption>
</figure>
